PORT=
PUBLIC_BASE_URL=

MONGODB_URI=
MONGODB_DB_NAME=

QWEN_API_KEY=
QWEN_BASE_URL=
QWEN_CHAT_MODEL=
QWEN_VISION_MODEL=
QWEN_EMBEDDING_MODEL=

GEMINI_API_KEY=
IMAGE_API_PATH=
GEMINI_BASE_URL=

GEMINI_MODEL=

IMAGE_DEFAULT_SIZE=